
  <div class="container-fluid">
    <div class="menu-wrapper">
      <a routerLink="" class="close-menu visible-xs"><i class="icon-close"></i></a>
      <h3 class="visible-xs">Navigation</h3>
      <ul class="nav-list text-center effect">
        <li class="active"><a routerLink="/index">Shop</a></li>
        
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
      
    </div>	
  </div>

  <div id="wrap">
    <div id="main-nav" class="">
      <div class="container-fluid">	
        <div class="nav-header">
            <a routerLink="/index" class="nav-brand">Kumar Handloom<span></span></a>
            <a class="nav-icon pull-right visible-xs menu-link" routerLink=""><i class="icon-menu2"></i></a>
            <a class="nav-icon-outline cart pull-right" routerLink="/cart"><i class="icon-cart"></i><span class="badge">3</span></a>
          </div>
          <br>
      </div>
    </div>
    </div>
