<app-header *ngIf="y"></app-header>
<app-header1 *ngIf="x"></app-header1>
<div id="wrap">
  

  <div class="container-fluid title">
    <div class="row">
      <div class="col-sm-12">
        <h2>Checkout / Step 2 of 2</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid cart-list">
    <div class="row">
      <div class="col-sm-6">
        <form action="checkout2.html" method="post" novalidate="" class="myform">
          <h3 class="text-center">Payment Method</h3>
          
            <div class="panel-group" id="accordion">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  MasterCard
                </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                          
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">First name</label>
                      <input name="name" placeholder="First Name" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input name="name2" placeholder="Last Name" class="form-control" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 col-md-8">
                    <div class="form-group">
                      <label class="control-label">Name</label>
                      <input name="Card number" placeholder="Card number" class="form-control input-lg" type="text">
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                      <label class="control-label">Code</label>
                      <input name="Code" placeholder="Code" class="form-control input-lg" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                      <label class="control-label">month</label>
                      <div class=" controls">
                        <select class="form-control">
                          <option>January
                          <option>February
                          <option>March
                        </select>
                      </div>
                    </div>	
                  </div>	
                  <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                      <label class="control-label">year</label>
                      <div class=" controls">
                        <select class="form-control">
                          <option>2014
                          <option>2015
                          <option>2016
                          <option>2017
                          <option>2018
                        </select>
                      </div>
                    </div>	
                  </div>	
                </div>
                </div>
              </div>
              </div>

               <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Cash on Delivery
                </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                <div class="form-group">
                  <label class="control-label" for="contact-message">Message</label>
                  <div class="controls">
                    <textarea id="contact-message" name="comments" placeholder="Add Comments About Your Order" class="form-control input-lg requiredField" rows="5"></textarea>
                  </div>
                </div>
                </div>
              </div>
              </div>

              <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  PayPal
                </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                <div class="form-group">
                  <label class="control-label">PayPal Account</label>
                  <input name="email" placeholder="PayPal Account" class="form-control" type="text">
                </div>
                </div>
              </div>
              </div>
            </div>



        </form>	
        <form action="checkout2.html" method="post" novalidate="" id="order-form" class="myform">
          <h3 class="text-center">If you have Coupon code</h3>
          <div class="input-group ">
            <input placeholder="Coupon code" class="form-control input-lg" type="text">
            <span class="input-group-btn">
              <button name="submit" type="submit" class="btn btn-store">Check!</button>
            </span>
          </div>	
        </form>
      </div>
      <div class="col-sm-6 ">
          <table class="table">
            <thead>
            <tr>
              <th colspan="3" class="text-center">You're purchasing this…</th>
            </tr>
            </thead>

             <tbody>
            <tr>
              <td class="vert-align">Tuscan urns</td>
              <td class="vert-align">1x</td>
              <td class="vert-align text-right">$14.00</td>
            </tr>
            <tr>
              <td class="vert-align">Bosphorus bowls</td>
              <td class="vert-align">2x</td>
              <td class="vert-align text-right">$28.00</td>
            </tr>
            <tr>
              <td class="vert-align">Langdon vases</td>
              <td class="vert-align">1x</td>
              <td class="vert-align text-right">$24.00</td>
            </tr>
            <tr>
              <td class="vert-align"><b>Cart subtotal</b></td>
              <td class="vert-align"></td>
              <td class="vert-align text-right"><b>$94.00</b></td>
            </tr>
            <tr>
              <td class="vert-align">Shipping cost:</td>
              <td class="vert-align"></td>
              <td class="vert-align text-right">$25.00</td>
            </tr>
            <tr>
              <td class="vert-align">Tax:</td>
              <td class="vert-align"></td>
              <td class="vert-align text-right">$20.00</td>
            </tr>
            <tr>
              <td class="vert-align">Coupon:</td>
              <td class="vert-align"></td>
              <td class="vert-align text-right">- $15.00</td>
            </tr>
            <tr>
              <td class="vert-align">Total:</td>
              <td class="vert-align"></td>
              <td class="vert-align text-right" id="total">$124.00</td>
            </tr>
            </tbody>
          </table>
        
          <a href="checkout2.html" class="btn btn-right">Complete my purchase</a>
      </div>	


    </div>

    <div class="row">
      <div class="col-sm-12 text-center show-more">
        <a href="index.html" class="btn btn-outline">Cancel and return to store</a>
      </div>	
    </div>	

  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="pull-left copyright">
        <p>STELLA <b>SHOP</b> &copy; 2014. Designed by <a href="http://www.angelostudio.net" target="_blank">Angelo Studio</a>.</p>
        <ul class="nav-list effect">
          <li><a href="terms-conditions.html">Delivery & Returns</a></li>
          <li><a href="terms-conditions.html">Terms & Conditions</a></li>
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="faq.html">FAQ</a></li>
        </ul>	
      </div>

      <div class="pull-right copyright">
          <ul class="social-links">
            <li><a href="https://twitter.com/angelo_studio"><i class="icon-twitter"></i></a></li>
            <li><a href="http://dribbble.com/angelo_studio"><i class="icon-dribbble"></i></a></li>
            <li><a href="http://www.pinterest.com/angelostudio/"><i class="icon-pinterest"></i></a></li>
          </ul>
      </div>
    </div>
  </footer>
</div>
