<app-header *ngIf="y"></app-header>
<app-header1 *ngIf="x"></app-header1>
<div id="wrap">
  

  <div class="container-fluid hidden-xs">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/index">Shop</a></li>
        <li class="active">Tuscan urns</li>
      </ol>
    </div>
  </div>

  <div class="container-fluid product">
    <div class="row visible-xs product-mobile">
      <div class="col-xs-12 text-center">
        <h2 class="product-title">Tuscan urns</h2>
        <div class="product-price">
          <span class="price">14.00</span>
        </div>
      </div>
    </div>	
    <div class="row">
      <div class="col-sm-8 ">
        <img src="img\vase_1a.jpg" class="product-img img-responsive" alt="item">
        <img src="img\vase_1b.jpg" class="product-img img-responsive" alt="item">
        <img src="img\vase_1c.jpg" class="product-img img-responsive" alt="item">
      </div>
      <div class="col-sm-4 ">
        <h2 class="product-title hidden-xs">Tuscan urns</h2>
        <div class="product-price hidden-xs">
          <span class="price">14.00</span>
        </div>
        <div class="product-detail">
          <p>Collect all of our hand-thrown vessels for endless arrangement possibilities, whether filled with flowers or dressed with beads.</p>
          <ul>
            <li>Holds objects, collections of stones or shells, or candles (sold separately) for a striking display.</li>
            <li>Weighty bases are designed to counterbalance top-heavy stems.</li>
            <li>Fluid design is finished with a cut rim.</li>
            <li>Monogramming is available at an additional charge.</li>
            <li>Monogram will be centered on the side of the bowl.</li>
            <li>Small: 6.5" diameter, 7" high</li>
          </ul>
        </div>
        <form action="product1.html" method="POST" class="myform">
          <div class="form-group clearfix">
            <label class="control-label">Size</label>
            <select class="form-control">
              <option value="XS">XS
              <option value="S">S
              <option value="M">M
              <option value="L">L
              <option value="XL">XL
            </select>
          </div>	

          <ul class="product-colors">
            <li class="selected"><a class="white" style="background-color:#FFF"> </a></li>
            <li class=""><a style="background-color:#000"> </a></li>
            <li class=""><a style="background-color:#49A3F1"> </a></li>
            <li class=""><a style="background-color:#FF6279"> </a></li>
          </ul>

          <div class="product-btn">
            <a href="" class="btn">Add To Cart</a>
          </div>	
        </form>
      </div>
    </div>
    
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="pull-left copyright">
        <p>STELLA <b>SHOP</b> &copy; 2014. Designed by <a href="http://www.angelostudio.net" target="_blank">Angelo Studio</a>.</p>
        <ul class="nav-list effect">
          <li><a href="terms-conditions.html">Delivery & Returns</a></li>
          <li><a href="terms-conditions.html">Terms & Conditions</a></li>
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="faq.html">FAQ</a></li>
        </ul>	
      </div>

      <div class="pull-right copyright">
          <ul class="social-links">
            <li><a href="https://twitter.com/angelo_studio"><i class="icon-twitter"></i></a></li>
            <li><a href="http://dribbble.com/angelo_studio"><i class="icon-dribbble"></i></a></li>
            <li><a href="http://www.pinterest.com/angelostudio/"><i class="icon-pinterest"></i></a></li>
          </ul>
      </div>
    </div>
  </footer>
</div>
