<app-header *ngIf="y"></app-header>
<app-header1 *ngIf="x"></app-header1>
  <div id="wrap">
   

    <div class="container-fluid productlist">
      <div class="row">
        <div class="col-sm-8">
          <a routerLink="/product">
            <img src="assets/img\vase_1a.jpg" class="img-responsive" alt="item">
            <span class="productlist-price-container">
              <span class="product-price">
                <span class="price">14.00</span>
              </span>
            </span>
          </a>
        </div>
                
      </div>
      
      	
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <div class="pull-left copyright">
          <p>KUMAR <b>HANDLOOM</b> &copy; 2014. Designed by kumar</p>
          
        </div>

        <div class="pull-right copyright">
            <ul class="social-links">
              <li><a href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
              <li><a href="http://dribbble.com/"><i class="icon-dribbble"></i></a></li>
              <li><a href="http://www.pinterest.com/"><i class="icon-pinterest"></i></a></li>
            </ul>
        </div>
      </div>
    </footer>

  </div>



